---
layout: single
author_profile: true
header:
  image: /assets/graphics/mainBanner.png
  
feature_row1:
  - image_path: /assets/graphics/resilienceLogo.png
    alt: "placeholder image 1"
    title: "Resilient Cyber-Infrastructure"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--inverse"

feature_row2:
  - image_path: /assets/graphics/cpsModellingLogo.png
    alt: "placeholder image 2"
    title: "Cyber Twin Factory"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--inverse"

---
[Overview of all the research projects]
Cyber-Physical Systems encompass systems in which the cyber world of computation and communication closely interacts with the physical world of sensors and actuators. These are highly networked and deeply embedded systems such as those found in modern day aircrafts, automotives, factories, medical devices, smart phones, electric grids, etc. From driver-less cars and air traffic management using sense and avoid, to plug-and-play operating rooms and smart electric grids that integrate traditional and renewable energy sources, intelligent automation of an enormous scale is finding its way into many of these systems.

<hr>
<center><font size="10" color="grey">CURRENT PROJECTS</font> </center>
<hr>


{% include feature_row id="feature_row1" type="left" %}

{% include feature_row id="feature_row2" type="right" %}